{% extends "public/templates/public_template.html" %}
{% block title %}Upload{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload a File</h1>
      <hr>

      <form action="/upload-image" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Select File</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="audio" id="audio">
            <label class="custom-file-label" for="audio">Select file...</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>

{% endblock %}
